
/* Sets font for all text on the page 
astricks sets rule for everything
*/


* {
	font-family: Georgia,serif;
}


/* turns figcaption gray*/
figcaption{
	color: gray;
}

/* make the headline uppercase with code*/
h1{
	text-transform: uppercase;
}

/* sets maximum space for image and caption*/

figure{
max-width: 600px;}


/* allows image to take up full space of above*/

img{
	max-width: 100%;
}

/* allows image to take up full space of above*/

h6{
	color: gray;
}

.red{
	color: red;
}

.blue{
	color:green;
}
